<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h3 class="callout__heading">Ready To Get Started?</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
        provident nobis assumenda rerum et aut aliquam ullam recusandae commodi
        at, sapiente voluptatibus nesciunt fugit perferendis.
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
